node_modules/
dist/
.env
evidence/screenshots/*.png
evidence/traces/*.zip
evidence/discovery/*
!evidence/discovery/.gitkeep
!evidence/discovery/2026-09-16_01-52-48__b7389084/
!evidence/discovery/2026-09-16_01-52-48__b7389084/**
evidence/replay/*
!evidence/replay/.gitkeep
!evidence/replay/2026-09-16_02-32-08__baf38893/
!evidence/replay/2026-09-16_02-32-08__baf38893/**
!evidence/replay/2026-09-16_02-32-08__8da22f9f/
!evidence/replay/2026-09-16_02-32-08__8da22f9f/**
!evidence/replay/2026-09-15_22-58-15__e9379153/
!evidence/replay/2026-09-15_22-58-15__e9379153/**
evidence/escalation/*
!evidence/README.md
test-results/
playwright-report/
